.head {
  justify-content: center;
}

.btn {
  outline: none;
  border: solid;
  display: inline-block;
  padding: 10px 15px;
  background: var(--primary);
  font-size: 1rem;
  border-radius: 12px;
  position: relative;
  /* top: -3px;
  box-shadow: 0 3px var(--grey); */
}

.btn:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
}
.btn:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
}
